{% extends 'base.html' %}

{% block head_content %}
    <title>About us - wymco | consulting</title>
{% endblock%}

{% block content %}
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">
                    About us
                </h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="container padding">

        <div class="row padding">
            <div class="col-md-12 col-lg-4 padding">
                <img src="https://www.wymco.co/image/founder.png" alt="founder" class="img-fluid mx-auto d-block rounded-circle border" 
                id="founder_img">
                <ul class="list-inline text-center mt-3">
                    <li class="list-inline-item">
                        <a href="#" class="icon-link">
                            <i class="fab fa-instagram icon"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="icon-link">
                            <i class="fab fa-facebook icon"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="icon-link">
                            <i class="fab fa-twitter icon"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="icon-link">
                            <i class="fab fa-linkedin-in icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-8 padding">
                <h2 class="text-center">Excellence - Integrity - Teamwork.</h2>
                <p class="text-justify">
                    A finance graduate with years of experience in the finance industry, Youssouf has worked with many contractors and small 
                    construction companies to align their accounting and bookkeeping. 
                    His experience in business process analysis allows him to help streamline your business processes.

                    Youssouf is also a computer programmer with experience building website, business applications, 
                    and provide IT consultancy to small business.
                </p>
            </div>
        </div>
    </div>


{% endblock %} 