{% extends 'base.html' %}

{% block head_content %}
    <title>Services - wymco | consulting</title>
{% endblock%}

{% block content %}
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">
                    Services
                </h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="container padding">
        <div class="row padding">
            <div class="col-md-12 col-lg-6">
                <h2>Bookkeeping</h2>
                <p>
                    One thing is clear in business: Bookkeeping is one of the most important tasks for the success of your business. 
                    We have worked with multiple small-business, in different markets. Whether on site or virtually, 
                    Wymco Consulting helps your mitigate tax, save time, and keep you compliant.
                </p>
            </div>
            <div class="col-md-12 col-lg-6">
                <img src="https://www.wymco.co/image/wymco_consulting_badge_quickbook.png" alt="" class="img-fluid mx-auto d-block">
            </div>
        </div>

        <div class="row padding">
            <div class="col-md-12 col-lg-6">
                <img src="https://res.cloudinary.com/ro7ca/image/upload/v1584278595/Google_IT_Support_Certificate.png" alt="" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-md-12 col-lg-6">
                <h2>Technology Consulting</h2>
                <p>
                    New technologies are impacting business operations daily, and competition is more than ever fierce. 
                    From your website to the best applications, we will assist streamline operations, 
                    and by implementing client-centric improvements for your business to be efficient and to save cost.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>Financial Insight</h3>
                <img src="https://www.wymco.co/image/009-report.svg" alt="Financial Insight" class="service-three">
                <p>
                    Financial statements tell more than financial position. We will study your statements 
                    and give you actionable steps to address issues impacting your business.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>Payroll</h3>
                <img src="https://www.wymco.co/image/010-payroll.svg" alt="Payroll" class="service-three">
                <p>
                    You might have few employees already. We will help with deductible and tax payments, 
                    while keeping them happy with timely deposits.
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h3>Account Receivable & Payable</h3>
                <img src="https://www.wymco.co/image/011-account.svg" alt="Account Receivable and Payable" class="service-three">
                <p>
                    Waiting until the end of project to get paid stresses your mind and your finances. 
                    Our timely reporting will manage your account payable and receivable.
                </p>
            </div>
        </div>
        <hr class="my-4">
    </div>
{% endblock %}