{% extends 'base.html' %}

{% block head_content %}
    <title>Services - wymco | consulting</title>
{% endblock%}

{% block content %}
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">
                    Services
                </h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="container padding">
        <div class="row padding d-flex justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <h2 class="text-center pb-2">Bookkeeping</h2>
                <p class="text-justify padding">
                    One thing is clear in business: Bookkeeping is one of the most important tasks for the success of your business. 
                    We have worked with multiple small-business, in different markets. Whether on site or virtually, 
                    Wymco Consulting helps your mitigate tax, save time, and keep you compliant.
                </p>
            </div>
            <div class="col-md-12 col-lg-6">
                <img src="https://www.wymco.co/image/wymco_consulting_badge_quickbook.png" alt="Bookkeeping" class="img-fluid mx-auto d-block">
            </div>
        </div>

        <div class="row padding d-flex justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 order-lg-2">
                <h2 class="text-center pb-2">Technology Consulting</h2>
                <p class="text-justify padding">
                    New technologies are impacting business operations daily, and competition is more than ever fierce. 
                    From your website to the best applications, we will assist streamline operations, 
                    and by implementing client-centric improvements for your business to be efficient and to save cost.
                </p>
            </div>
            <div class="col-md-12 col-lg-6 order-lg-1">
                <img src="https://res.cloudinary.com/ro7ca/image/upload/v1584278595/Google_IT_Support_Certificate.png" alt="Technology Consulting" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>

    <div class="container-fluid padding">
            <h3 class="text-center">And more...</h3><br>
            <p class="lead text-center">In addition to our main offers, you can add the services below a la carte, at a competitive price.</p>
    </div>

    
    <div class="container-fluid padding">
        <div class="row text-center padding d-flex justify-content-center">
            <div class="col-xs-12 col-md-6 col-xl-4 container">
                <h3 class="services-h3 pb-3">Financial Insight</h3>
                <img src="https://www.wymco.co/image/009-report.svg" alt="Financial Insight" class="service-three pb-3">
                <p class="text-justify">
                    Financial statements tell more than financial position. We will study your statements 
                    and give you actionable steps to address issues impacting your business.
                </p>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-4 container">
                <h3 class="services-h3 pb-3">Payroll</h3>
                <img src="https://www.wymco.co/image/010-payroll.svg" alt="Payroll" class="service-three pb-3">
                <p class="text-justify">
                    You might have few employees already. We will help with deductible and tax payments, 
                    while keeping them happy with timely deposits.
                </p>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-4 container">
                <h3 class="services-h3 pb-3">Account Receivable & Payable</h3>
                <img src="https://www.wymco.co/image/011-account.svg" alt="Account Receivable and Payable" class="service-three pb-3">
                <p class="text-justify">
                    Waiting until the end of project to get paid stresses your mind and your finances. 
                    Our timely reporting will manage your account payable and receivable.
                </p>
            </div>
        </div>
        <hr class="my-4">
    </div>

{% endblock %}